<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringNHibernate:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringNHibernate_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringNHibernate/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringNHibernate" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="struts2-2.0.14" />
          <element id="library" level="project" name="4.0.0.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>