<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <import resource="beanbasic/beanbasic.xml"/>

    <bean id="helloWorld" class="simpleExample.HelloWorld">
        <property name="name" value="Isuru"/>
    </bean>

    <bean id="outputHelper" class="simpleExample.OutputHelper">
        <property name="ioutputGenerator" ref="jsonOutputGenerator"/>
    </bean>

    <bean id="csvOutputGenerator" class="simpleExample.CSVOutputGenerator"/>
    <bean id="jsonOutputGenerator" class="simpleExample.JSONOutputGenerator"/>

   <!-- <context:component-scan base-package="beanbasic" /> -->

    <bean id="esc" class="springel.ESC">
        <property name="electronicSpeedController"  value="Controll Motor Speed"/>
        <property name="voltage" value="12.5V"/>
    </bean>

    <bean id="quadCopter2" class="springel.QuadCopter">
        <property name="electronicSpeedController"  value="#{esc}"/>
        <property name="escFunction" value="#{esc.electronicSpeedController}"/>
        <property name="motorDescription" value="#{esc.getNoOfMotorsUsing(4)}"/>
    </bean>

    <context:component-scan base-package="autocomponent"/>
    <context:component-scan base-package="autocomponent">
        <context:include-filter type="regex" expression="autocomponent.dao.*Dao.*"/>
        <context:include-filter type="regex" expression="autocomponent.serice.*Service.*"/>
    </context:component-scan>
</beans>